*{
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-field{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.input-field input{
  height: 30px;
}
.input-field button{
  height: 33px;
}
.main{
  padding: 10px;
  width: 60vw;
  text-align: center;
  background-color: rgb(150 181 229); 
  border-radius: 10px;
}
.showdata{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.row{
  line-height: 5;
}